# SCM
.gitattributes

# Node.js, npm, & Dependancies
node_modules/*
package-lock.json
.npmignore
.npmrc

# CONFIGURATION FILES
.vscode/settings.json
.vscode/launch.json
.vscode/cspell.json
.editorconfig
cspell.json

# TypeScript Emitted Documents
build/
types/
*.js
*.js.map
*.d.ts
*.d.ts.map

# Logging
Log/
*.log.md
*.log

# FILE FOR TEST RUNNING SNIPPETS
**/sandbox.ts

# PERSONAL DEV DIRECTORIES (Should never be committed)
.DEV/
.TRASH/
